$black: #000;
$dark: #191a20; // 로고, 타이틀 중요 텍스트
$primary: #3f4150; // 주로 사용하는 본문 텍스트
$secondary: #8c8d96; // 덜 중요한 본문 텍스트
$tertiary: #b2b3b9; // 그 외 텍스트(placehorder, review)
$border: #e0e2e7; // 테두리
$background: #f7f8fa; // 배경(흰색 다음으로 연한 색상)
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-right: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
